KERNEL=="loop0", RUN+="/usr/local/ajax/boot.sh"
KERNEL=="wlan*", ACTION=="add", RUN+="/usr/local/ajax/on-wlan-up.sh"
KERNEL=="wlan*", ACTION=="remove", RUN+="/usr/local/ajax/on-wlan-down.sh"
